.button {
    -fx-max-width: 200;
    -fx-max-height: 120;
    -fx-min-height: 70;
    -fx-background-color: #333;
    -fx-background-radius: 0;
    -fx-font-size: 16;
    -fx-font-family: Roboto;
    -fx-font-style: bold;
    -fx-text-fill: #fff;
}

.button:hover {
    -fx-background-color: #444;
}

.button:pressed {
    -fx-background-color: #222;
}