.root {
    -fx-background-color: #2f2f2f;
}

.welcome-back {
    -fx-background-image: url(../images/background.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}